/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  background: url(./assets/bodyBackground.jpg) center/cover no-repeat;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: #22223b;
  text-transform: capitalize;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/*
=============== 
Navbar
===============
*/
nav {
  background: #7482dd;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
  color: var(--clr-primary-8);
}
.links a {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: #fff;
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
/* header */

.banner-main {
  min-width: 95vw;
  min-height: 100vh;
  display: flex;
  color: #f2e9e4;
  align-items: center;
  backface-visibility: hidden;

}

.banner-main h1 {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.sun {
  display: none;
}
 .clouds{
   display: none;
 }
h1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #222;
}

.word-1 {
  animation-name: moveInLeft;
  animation-duration: 2.1s;
}
.word-3 {
  animation-name: moveInRight;
  animation-duration: 2.1s;
}

.word-2 {
  /* height: 10%; */
  display: flex;
  flex-direction: column;
  animation-name: fromUp;
  animation-duration: 1s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}
.click {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 1rem;
  border: 1px solid rgb(66, 64, 64);
  border-radius: 1.8rem;
  font-size: 1.8rem;
  animation-name: hire;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-transform: capitalize;
  outline: none;
  transition: all 0.3s;
  color: #ebe83e;
  letter-spacing: 1px;
  font-family: "Caveat", cursive;
  background-color: rgb(98, 202, 29);
}

.click:hover {
  background-color: #7482dd;
  color: #f2e9e4;
  transform: scale(1.01);
  box-shadow: 0 2px 10px 2px rgb(204, 211, 236);
  cursor: pointer;
  text-decoration: none;
}
.click:active {
  transform: scale(0.98);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
    color: rgb(134, 224, 106);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hire {
  0% {
    opacity: 0;
    transform: translateY(8rem);
    background-color: rgb(0, 204, 255);
  }
  85% {
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    color: rgb(134, 224, 106);
  }
  85% {
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
    color: rgb(134, 224, 106);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media screen and (min-width: 60rem) {
  .banner-main h1 {
    font-size: 2.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .sun {
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    right: 3.5rem;
    top: 7rem;
    display: block;
  }
  .clouds {
    max-height: 300px;
    max-width: 300px;
    position: absolute;
    left: 11.5rem;
    top: 25rem;
    display: block;
  }

  .word-2 {
    margin-top: 14rem;
    font-size: 3.3rem;
  }
  .click {
    margin-top: 10rem;
  }
  @keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(3rem);
      color: rgb(134, 224, 106);
    }
    80% {
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-3rem);
      color: rgb(134, 224, 106);
    }
    80% {
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fromUp {
    0% {
      opacity: 0;
      transform: translateY(3rem);
      color: rgb(134, 224, 106);
    }
    85% {
      transform: translateY(-3rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
/* end of header */

/* section about */
#about {
  text-align: center;
  padding: 2rem 0.5rem;
  min-width: 95vw;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;
  background: transparent;
  color: #eb923e;
}

.about__title-text {
  padding: 1rem 0;
  margin: 2rem 0;
  /* width: 30%; */
  border-radius: 2rem;
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Caveat", cursive;
  letter-spacing: 7px;
  border-bottom: 1rem solid;
  transition: all 0.4s;
}
.about__title-text:hover {
  transform: skewX(5deg) skewY(5deg);
  text-shadow: 0px 1rem 0.5rem rgb(48, 48, 83);
}
.container__about-center {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}
.about__bio-title {
  font-family: "Caveat", cursive;
  font-size: 1rem;
}
.about__bio-text {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #fff;
}

.about__skils-title {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
}

.brain {
  padding: 1rem;
  font-size: 4rem;
  transition: all 0.4s;
}
.item {
  font-size: 4.5rem;
  padding: 0.4rem;
  transition: all 0.4s;
}

.item:hover {
  color: #22223b;
  box-shadow: 5px 5px 5px 5px black;
}
.brain:hover {
  color: #c9ada7;
  transform: scale(1.4);
}

.flex-items {
  padding: 0.5rem;
  margin: 1rem;
  min-width: 65vw;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #abacb180;
  border-radius: 3rem;
}
@media screen and (min-width: 50rem) {
  .container__about-center {
    flex-direction: row;
    justify-content: space-between;
  }
  .flex-items {
    min-width: 40vw;
    min-height: 70vh;
    margin: 1rem;
  }
  .about__skils-items {
    padding-bottom: 5rem;
  }
  .about__skils-title {
    padding-top: 3rem;
    font-size: 2rem;
    color: #e4f7f2;
  }
  .about__bio-text {
    padding-bottom: 5rem;
  }
  .about__bio-title {
    padding-top: 3rem;
    font-size: 2rem;
    color: #e4f7f2;

  }
}
/* end of about */

/* project section */

/* projects */
#projects {
  /* background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(15, 9, 52, 0.1856092778908438) 100%
    ),
    url(./assets/pexels-pixabay-270348.jpg) center/cover no-repeat fixed; */
  min-height: 100vh;
}

.projects__title {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}
.projects__title-text {
  color: #eb923e;
  padding: 1rem 0;
  border-radius: 2rem;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Caveat", cursive;
  letter-spacing: 7px;
  border-bottom: 1rem solid;
  transition: all 0.4s;
}
.projet-name {
  text-shadow: 0 0.8rem 0.5rem rgb(48, 48, 83);
}

.projects__title-text:hover {
  transform: skewX(5deg) skewY(5deg);
  text-shadow: 0px 1rem 0.5rem rgb(48, 48, 83);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 310px;
  margin: 1rem auto;

  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.img_cart {
  width: 100%;
  border-radius: 10%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);

}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 25%;
  overflow: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #f4a261;
  
}

/* Style the back side */
.flip-card-back {
  background-color: rgba(108, 177, 68, 0.322);
  color: #fff;
  transform: rotateY(180deg);
  text-shadow: 0 1.1rem 1.1rem;
}

.buttoncontainer {
  display: flex;
  justify-content: space-around;
}
.click-2 {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(66, 64, 64);
  border-radius: 1rem;
  font-size: 1rem;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-transform: capitalize;
  outline: none;
  transition: all 0.3s;
  color: #66be55;
  letter-spacing: 1px;
  font-family: "Caveat", cursive;
  background-color: #eb923e;
}
.click-2:hover {
  text-decoration: none;
  background-color: #7482dd;
  color: #f2e9e4;
  transform: scale(1.01);
  box-shadow: 0 2px 10px 2px rgb(204, 211, 236);
  cursor: pointer;
}
.click-2:active {
  transform: scale(0.98);
  outline: none;
}
.card-title {
  text-shadow: 0 1rem 1rem;
}

@media screen and (min-width: 765px) {
  .maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flip-card {
    width: 300px;
    height: 380px;
  }
}

/* end of project section */
/* footer */

#contacts {
  padding: 0rem 0.5rem;
  min-width: 95vw;
  min-height: 95vh;
  margin: 0 auto;
  position: relative;
  background: transparent;
}

.contacts__center{
  text-align: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(117,28,147,0.24163168685442926) 32%, rgb(80, 151, 165) 100%), url(./assets/footer.jpg) center/cover no-repeat;
  min-width: 40vw;
  min-height: 95vh;
  border-radius: 10%;
}

.footer_flex{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.socila-flex{
  min-width: 90vw;
  display: flex;
  justify-content: space-evenly;
}
.socila-flex a{
  color:#0d0d14
}

/* 
/* end of footer */
